Django
django-environ
djangorestframework
Pillow
ipython
psycopg2-binary
requests
django-redis
django-extensions
django-debug-toolbar
pycryptodome
celery
django-celery-beat
django-celery-results
django-filter
django-cacheops