Django
djangorestframework
djangorestframework-simplejwt
django-environ
django-redis
django-extensions
django-debug-toolbar
Pillow
ipython
psycopg2-binary
requests
pycryptodome
celery
django-celery-beat
django-celery-results
django-filter
django-cacheops
django-filebrowser
django-ckeditor