{% load static %}
<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <script src="https://kit.fontawesome.com/d731a653c2.js"></script>
  {% block css_adicional %}
  {% endblock %}
  {% block js_prebody %}
  {% endblock %}
</head>
<body class="relative [--scroll-mt:9.875rem] lg:[--scroll-mt:6.3125rem] {% block body_classes %}{% endblock %}">
<div class="hidden absolute h-full w-full overlay z-20 bg-slate-900/50"></div>
<div class="grid grid-flow-col auto-cols-auto1fr">
  {% include 'maqueta/commons/sidebar.html' %}
  <div class="m-0 grid grid-flow-rows auto-rows-min">
    {% include 'maqueta/commons/header.html' %}
    <div class="px-4 xl:px-8 py-4 pb-8">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</div>
{% block js_adicional %}
{% endblock %}
</body>
</html>