<aside class="min-h-screen h-auto min-h-screen bg-sky-900 xl:block w-64 absolute xl:relative z-50 xl:h-full -ml-64 xl:m-0 transition-all text-white sidebar">
  <a href="" id="close-sidebar-btn" class=" w-auto p-3 bg-indigo-500 text-right absolute left-64 hidden">
    <i class="fa-solid fa-angles-left px-2"></i>
  </a>
  <div class="user-info grid grid-flow-row justify-items-center p-4">
    <div class="w-1/2">
      <img src="https://picsum.photos/id/1025/640" alt="user" class="rounded-full object-cover border-2 border-sky-200">
    </div>
    <div class="labels text-center pt-4">
      <p>Bill Gates</p>
      <p><small>Join: {% now 'SHORT_DATE_FORMAT' %}</small></p>
    </div>
  </div>
  <ul class="grid-cols-1 divide-y divide-solid root">
    {% for loop in looper_10 %}
    <li class="grid grid-columns">
      <a href="#" class="link">
        <i class="fa-regular fa-bookmark pr-1"></i>
        Menu {{ forloop.counter }}
      </a>
      <ul class="grid-cols-1 transition-all h-0 overflow-hidden divide-y divide-solid submenu-level-1">
        <li class="grid grid-columns">
          <a href="" class="link">
            <i class="fa-solid fa-arrow-up-right-from-square pr-1"></i>
            Link Lvl 1
          </a>
        </li>
        <li class="grid grid-columns">
          <a href="#" class="link">
            <i class="fa-solid fa-square-caret-down pr-1"></i>
            Sub Menu Lvl 1
          </a>
          <ul class="grid-cols-1 transition-all h-0 overflow-hidden divide-y divide-solid submenu-level-2">
            <li class="grid grid-columns">
              <a href="" class="link">
                <i class="fa-solid fa-arrow-up-right-from-square pr-1"></i>
                Link Lvl 2
              </a>
            </li>
            <li class="grid grid-columns">
              <a href="#" class="link">
                <i class="fa-solid fa-square-caret-down pr-1"></i>
                Sub Menu Lvl 2
              </a>
              <ul class="grid-cols-1 transition-all h-0 overflow-hidden divide-y divide-solid submenu-level-3">
                <li class="grid grid-columns">
                  <a href="" class="link">
                    <i class="fa-solid fa-arrow-up-right-from-square pr-1"></i>
                    Link 1  Lvl 3
                  </a>
                </li>
                {% if forloop.counter == 3 %}
                <li class="grid grid-columns">
                  <a href="{{ request.path }}" class="link">
                    <i class="fa-solid fa-arrow-up-right-from-square pr-1"></i>
                    This page a:link
                  </a>
                </li>
                {% endif %}
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    {% endfor %}
  </ul>
</aside>