@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar ul.root {
	@apply border-y border-sky-800
}

.sidebar ul.root a {
	padding-left: 0.75rem;
}

.sidebar ul.submenu-level-1 a {
	padding-left: 1.5rem;
}
.sidebar ul.submenu-level-2 a {
	padding-left: 2.25rem;
}
.sidebar ul.submenu-level-3 a {
	padding-left: 3rem;
}
.sidebar ul.submenu-level-4 a {
	padding-left: 3.75rem;
}

.sidebar a.link {
	@apply w-full p-3 hover:bg-sky-700 grid grid-cols-2 items-center grid-cols-auto1fr
}

.sidebar a.link {
	@apply w-full p-3 hover:bg-sky-700 grid grid-cols-2 items-center grid-cols-auto1fr
}

.sidebar a.link i {
	@apply pr-2
}

.sidebar a.opened{
	@apply shadow-xl bg-sky-800
}

.sidebar a:hover{
	@apply shadow-xl bg-sky-600
}
.sidebar li {
	@apply border-sky-800
}
a.btn{
	cursor: pointer;
}
.btn {
	@apply p-2 px-4 rounded text-white
}
.btn i {
	@apply pr-1
}
.btn.link {
	@apply bg-indigo-500
}
.btn.success {
	@apply bg-green-500
}
.btn.action {
	@apply bg-sky-500
}
html, body {
	@apply min-h-screen
}